name: Check changed apps/packages

on:
  push:
    branches: [ main ]

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get changed files (tj-actions/changed-files)
        uses: tj-actions/changed-files@v34
        id: changed
        with:
          files: |
            apps/**
            packages/**
      - name: Show tj-actions outputs
        run: |
          echo "tj-actions outputs:" 
          echo "${{ toJson(steps.changed.outputs) }}"